h5,
p,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.creatorsContent {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  margin-bottom: 150px;
}
.creatorsLabel {
  align-items: flex-end;
  width: 100%;
  display: flex;
  gap: 100px;
  height: auto;
  position: relative;
  justify-content: space-between;
}
.creatorsLabelText {
  font-family: "Work Sans", sans-serif;
}
.creatorsH3 {
  font-family: "Work Sans", Helvetica;
  font-size: 38px;
}
.creatorsP {
  font-size: 22px;
  font-weight: 400;
}

.creatorsButton {
  color: #fff;
  align-items: center;
  background-color: transparent;
  border: 2px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #a259ff;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  height: 60px;
  justify-content: center;
  padding: 0px 50px;
  pointer-events: auto;
  position: relative;
  transition: all 0.3s ease;
  width: fit-content;

  font-family: "Work Sans", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.creatorsGrid {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
  width: fit-content;
}
.creatorsGridRow {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  height: auto;
  position: relative;
  flex-direction: row;
  width: 1050px;
}
.creatorCard {
  align-items: center;
  background-color: #3b3b3b;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  height: auto;
  mix-blend-mode: normal;
  padding: 20px;
  pointer-events: auto;
  position: relative;
  transition: all 0.3s ease;
}
.creatorCard:hover {
  transform: scale(0.92);
}
.creatorAvatar {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: fit-content;
}
.creatorAvatarImg {
  width: 120px;
}
.creatorInfo {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  justify-content: center;
  position: relative;
}
.additionalInfoText {
  color: #858584;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  font-size: 16px;
}
.additionalInfoPrice {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
}
.rankingNumber {
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 20px;
  height: 30px;
  left: 20px;
  position: absolute;
  top: 18px;
  width: 30px;
}
.rankingNumberText {
  color: #858584;
  padding-top: 2px;
}
