.container {
  max-width: 1050px;
  margin: 0 auto;
}

.heroContent {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 150px;
}

.heroText {
  display: flex;
  max-width: 510px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  height: auto;
}

.heroStat {
  max-width: 510px;
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  height: auto;
  position: relative;
  justify-content: space-between;
}

.heroButton {
  align-items: center;
  background-color: #a259ff;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  gap: 12px;
  height: 60px;
  justify-content: center;
  padding: 0px 50px;
  transition: all 0.3s ease;
  width: fit-content;
  border: 0px;
}

.heroButton:hover {
  transform: scale(0.92);
}

.heroImg {
  width: 510px;
  height: 510px;
}
h1,
h4,
p {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 67px;
  padding: 0;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 22px;
}

.heroPText {
  letter-spacing: 0px;
  line-height: 38.4px;
  position: relative;
  text-align: left;
}
